<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="app.cancel()">&times;</button>
        <h4 class="modal-title">Create Project Form</h4>
    </div>
    <div class="modal-body">
        <div class="form-area create-project-modal">
            <form name="createProjectForm" role="form" action='/projects' method="POST">
                <br style="clear:both">
                <div class="form-group">
                    <label for="projectName" class="required">Project name</label>
                    <input type="text" class="form-control" id="projectName" ng-model="newproject.name"
                           name="projectName"
                           placeholder="Enter project name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="needAmount" class="required">Funding goal in &#8372;</label>
                    <input type="number" min="450" step="1" class="form-control" id="needAmount"
                           ng-model="newproject.needAmount" name="needAmount"
                           placeholder="Enter Funding goal  greater than 450 &#8372;" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="url">Image URL</label>
                    <input id="url" class="form-control" type="text" name="image" ng-model="newproject.image"
                           placeholder="Enter image url"
                           ng-pattern="app.projectImageUrlRegExp"/>
                </div>
                <div class="form-group">
                    <label for="externalUrl">Source URL</label>
                    <input id="externalUrl" class="form-control" type="text" name="url" ng-model="newproject.url"
                           placeholder="Enter Source url"
                           ng-pattern="app.projectExternalUrlRegExp"/>
                </div>
                <div class="form-group" ng-if="app.isEditorLoaded">
                    <label for="aboutProject">About project</label>
                    <div id="aboutProject" text-angular ng-model="app.htmlcontent" name="aboutProject">
                    </div>
                </div>
                <a class="btn btn-default pull-right" ng-click="app.cancel()">Cancel</a>

                <button ng-disabled="createProjectForm.$invalid" type="submit" id="submit" name="submit"
                        class="btn btn-primary pull-right create-project-btn">
                    Create
                </button>
            </form>
        </div>
    </div>

</div>



